 .filter-box {
     background: #fff;
     margin: 0 0 5px 0;
     min-height: 50px;
     padding: 10px;
     .title {
         .glyphicon {
             margin: 0 5px 0 0;
         }
         color: #157ab0;
         font-weight: bold;
     }
     .price-range-container {
         margin-bottom: 40px;
     }
     &.search {
         input {
             min-height: 25px;
             min-width: 70%;
         }
         button.am-custom-btn {
             margin: 0 0 0 10px;
             min-width: 25%;
         }
     }
     &.list-star-filter {
         label {
             vertical-align: middle;
             span {
                 margin-left: 5px;
             }
         }
     }
 }