<header class="container-fluid">
    <section class="container main-nav">
        <aside class="col-xs-6">
            <figure>
                <img src="https://images.almundo.com/205/image/upload/v1474984918/static/components/logo-almundo.svg" alt="Almundo.com vacaciones en serio">
            </figure>
        </aside>
        <aside class="col-xs-6">
            <nav class="top-nav icon pull-right hidden-md hidden-lg">
                <span class="glyphicon glyphicon-user"></span>
                <span class="glyphicon glyphicon-earphone"></span>
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </nav>
            <nav class="top-nav pull-right hidden-xs hidden-sm">
                <ul>
                    <li><span class="glyphicon glyphicon-user"></span> <span>Ingresar</span><span>|</span></li>
                    <li>
                        <img src="https://images.almundo.com/205/image/upload/v1474987989/static/components/logo-clubalmundo.svg" alt="Club Almundo"><span>|</span>
                    </li>
                    <li><span>Sucursales</span><span>|</span></li>
                    <li><span>Llamanos</span><span>|</span></li>
                    <li>Ayuda</li>
                </ul>
            </nav>
        </aside>
    </section>
    <section class="row hidden-xs hidden-sm">
        <nav class="section-nav">
            <div class="container">
                <ul class="col-xs-12">
                    <li>Hoteles</li>
                    <li>Vuelos</li>
                    <li>Vuelo + Hotel</li>
                    <li>Paquetes</li>
                    <li>Disney</li>
                    <li>Escapadas</li>
                    <li>Seguros</li>
                    <li>Autos</li>
                    <li>Cruceros</li>
                    <li>OFERTAS</li>
                    <li>M&aacute;s <span class="glyphicon glyphicon-chevron-down"></span></li>
                </ul>
            </div>
        </nav>
    </section>
</header>